@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .light-gradient {
    @apply from-light-start via-light-middle to-light-end;
  }

  .dark-gradient {
    @apply from-dark-start via-dark-middle to-dark-end;
  }

  .post-it-light-gradient {
    @apply from-post-it-start via-post-it-middle to-post-it-end
  }

  .post-it-dark-gradient {
    @apply from-dark-post-it-start via-dark-post-it-middle to-dark-post-it-end
  }

  .bg-pin-light {
    @apply from-light-pin-star via-light-pin-middle to-light-pin-end
  }

  .bg-pin-dark {
    @apply from-dark-pin-star via-dark-pin-middle to-dark-pin-end
  }

}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(4deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

@media (min-width: 550px) {
  .customGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.postIt {
  transform-origin: top center;
  transition: transform 0.1s ease-in-out;
}

.postIt:hover {
  animation: rotate 0.7s ease-in-out;
}

.granulated {
  background-image: url("/image/texture.jpg");
  background-size: cover;
  background-repeat: repeat;
}

.light {
  background: radial-gradient(circle, #ffff99 30%, #ffd700 60%, #000 100%);
  box-shadow: 0 0 0 rgba(255, 255, 153, 0.8);
  animation: flicker 2s ease-in-out forwards;
}

.darkPurpleLight {
  background: radial-gradient(circle, #9b0275 30%, #58013e 60%, #000 100%);
  box-shadow: 0 0 0 rgba(255, 255, 153, 0.8);
  animation: flickerPurpleLight 2s ease-in-out forwards;
}

@keyframes flicker {

  0%,
  10% {
    box-shadow: 0 0 0 rgba(255, 255, 153, 0.8);
    background: #202020;
  }

  11%,
  19% {
    box-shadow: 0 0 15px 10px rgba(255, 255, 153, 0.8);
    background: radial-gradient(circle, #ffff99 30%, #ffd700 60%, #000 100%);
  }

  20%,
  24% {
    box-shadow: 0 0 0 rgba(255, 255, 153, 0.8);
    background: #202020;
  }

  25%,
  34% {
    box-shadow: 0 0 15px 10px rgba(255, 255, 153, 0.8);
    background: radial-gradient(circle, #ffff99 30%, #ffd700 60%, #000 100%);
  }

  35%,
  40% {
    box-shadow: 0 0 0 rgba(255, 255, 153, 0.8);
    background: #202020;
  }

  45%,
  60% {
    box-shadow: 0 0 30px 15px rgba(255, 255, 153, 0.8);
    background: radial-gradient(circle, #ffff99 40%, #ffd700 70%, #000 100%);
  }

  75%,
  90% {
    box-shadow: 0 0 0 rgba(255, 255, 153, 0.8);
    background: #202020;
  }

  91%,
  100% {
    box-shadow: 0 0 50px 25px rgba(255, 255, 153, 1), 0 0 200px 100px rgba(255, 255, 153, 0.1);
    background: radial-gradient(circle, #ffff99 50%, #ffd700 80%, #000 100%);
  }
}

@keyframes flickerPurpleLight {

  0%,
  10% {
    box-shadow: 0 0 0 rgba(204, 4, 137, 0.8);
    background: #202020;
  }

  11%,
  19% {
    box-shadow: 0 0 15px 10px rgba(204, 4, 137, 0.8);
    background: radial-gradient(circle, #9b0275 30%, #58013e 60%, #000 100%);
  }

  20%,
  24% {
    box-shadow: 0 0 0 rgba(204, 4, 137, 0.8);
    background: #202020;
  }

  25%,
  34% {
    box-shadow: 0 0 15px 10px rgba(204, 4, 137, 0.8);
    background: radial-gradient(circle, #9b0275 30%, #58013e 60%, #000 100%);
  }

  35%,
  40% {
    box-shadow: 0 0 0 rgba(204, 4, 137, 0.8);
    background: #202020;
  }

  45%,
  60% {
    box-shadow: 0 0 30px 15px rgba(204, 4, 137, 0.8);
    background: radial-gradient(circle, #9b0275 30%, #58013e 60%, #000 100%);
  }

  75%,
  90% {
    box-shadow: 0 0 0 rgba(204, 4, 137, 0.8);
    background: #202020;
  }

  91%,
  100% {
    box-shadow: 0 0 50px 25px rgba(126, 1, 109, 0.8), 0 0 200px 100px rgba(255, 255, 153, 0.1);
    background: radial-gradient(circle, #9b0275 30%, #58013e 60%, #000 100%);
  }
}

.shadcn-textarea::-webkit-scrollbar {
  display: none;
}

.shadcn-textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}